
<span #top class="scroll-margin-top">
    <span><a routerLink="/paiments">Mode de Paiment</a></span> /
    <span>Ajout</span>
  </span>
  <section>
    <div>
<app-alert [success]="alert.success" [msgSuccess]="alert.msgSuccess" [echec]="alert.echec" [msgEchec]="alert.msgEchec" (closed)="alert.open = false" *ngIf="alert.open"></app-alert>

  
    <h3>Ajouter Mode de Paiment </h3>
    <form clrForm [formGroup]="paimentForm">
    
       <clr-select-container>
    <label>Mode de paiement *</label>
    <select clrSelect formControlName="modePayment">
      <option value="" disabled selected>Choisissez un mode de paiement</option>
      <option value="💳 credit-card">💳 Carte de crédit</option>
      <option value="💵 cash">💵 Espèces</option>
      <option value="🏦 debit-card">🏦 Carte de débit</option>
      <option value="🌐 online">🌐 En ligne</option>
    </select>
    <clr-control-error *clrIfError="'required'">Ce champ est obligatoire</clr-control-error>
</clr-select-container>

          <clr-textarea-container>
            <label>Description</label>
            <textarea clrTextarea formControlName="description"></textarea>
          </clr-textarea-container>
        <br>
        <clr-checkbox-container>
          <label>Actif / Non actif</label>
          <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox formControlName="active" />
          </clr-checkbox-wrapper>
        </clr-checkbox-container><br><br>
    </form>
    <label class="alert-sm">* Champ obligatoire</label>
    <br><br>
    <div class="btn-group btn-outline-primary">
      <button class="btn btn-sm" (mousedown)="redirectTo()">
        <cds-icon shape="undo"></cds-icon> Retour
      </button>
      <button class="btn btn-sm" (click)="submitAction(top)" [disabled]="paimentForm.invalid"
        [clrLoading]="validateBtnState">
        <cds-icon shape="plus"></cds-icon> Enregistrer
      </button>
    </div>
  </div>
  </section>
  