<span #top class="scroll-margin-top">
    <span><a routerLink="/category">Categories</a></span> /
    <span>Modification</span>
  </span>
  <section>
    <app-alert [success]="alert.success" [msgSuccess]="alert.msgSuccess" [echec]="alert.echec" [msgEchec]="alert.msgEchec" (closed)="alert.open = false" *ngIf="alert.open"></app-alert>
  
    <h3>Modifier Categorie</h3>
    <div class="spinner-class" *ngIf="!categoryId">
      <clr-spinner [clrMedium]="true"></clr-spinner>
    </div>
    <form clrForm [formGroup]="registerForm" (ngSubmit)="submitAction(top)" *ngIf="categoryId">
      <clr-input-container>
        <label>Nom *</label>
        <input clrInput type="text" formControlName="name" />
        <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
      </clr-input-container>
      <clr-textarea-container>
        <label>Description *</label>
        <textarea clrTextarea formControlName="description"></textarea>
        <clr-control-error *clrIfError="'required'">Ce champ est obligatoire</clr-control-error>
      </clr-textarea-container>
      <clr-checkbox-container>
        <label>Status</label>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="status" />
        </clr-checkbox-wrapper>
      </clr-checkbox-container><br><br>
      <clr-checkbox-container>
        <label>Actif / Non actif</label>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="active" />
        </clr-checkbox-wrapper>
      </clr-checkbox-container><br><br>
      <label class="alert-sm">* Champ obligatoire</label>
      <br><br>
      <div class="btn-group btn-sm btn-outline-primary">
        <button type="reset" class="btn" (mousedown)="redirectTo()">
          <cds-icon shape="undo"></cds-icon> Retour
        </button>
        <button type="submit" class="btn" [disabled]="registerForm.invalid"
          [clrLoading]="validateBtnState">
          <cds-icon shape="plus"></cds-icon> Enregistrer
        </button>
      </div>
    </form>
  </section>
  
