.main-container {
  background: none !important;
}

.content-area {
  padding: 0 !important ;
}

.espace  {
  padding: 1.8rem !important;
}

@media (max-width: 425px) {
   .espace  {
      padding: 1.0rem !important;
  }
}

@media screen and (max-width: 870px) and (min-width: 768px) {
  .main-container {
      width: 768px;
  }
}

