<clr-header class="header-6">
  <div class="branding">
    <a routerLink="dashboard" class="nav-link">
      <img type="image/icon" class="icon img-ioc" src="/assets/images/logo.png" />
      <span class="title">Curio ERP</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown [clrCloseMenuOnItemClick]="false" class="DropDown">
      <button clrDropdownTrigger aria-label="Dropdown button" class="btn-profil">
        <img type="image/icon" class="icon rounded icon-class" [src]="user?.picture" />
        <span class="profile-class">{{user?.firstName}} {{user?.lastName}}</span>
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <div clrDropdownItem (click)="logout()">
          <cds-icon shape="logout" class="icons"></cds-icon>
          Déconnecter
        </div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
