.title {
  line-height: 1rem !important
}

.rounded {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid white;
}

.img-ioc {
  border: 2px solid #fff;
  border-radius: 4px !important;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.logoutIcon {
  width: 24px !important;
  height: 24px !important;
  margin: 0 10px;
  cursor: pointer
}

.DropDown {
  margin-right: 15px;
}

:host ::ng-deep .DropDown .icons {
  color: black;
}

:host ::ng-deep .header .header-actions .dropdown .dropdown-toggle {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  ::ng-deep .open-hamburger-menu .header .branding {
      display: inline-block;
  }

  ::ng-deep .header-hamburger-trigger .branding {
      display: none;
  }

  .profile-class {
      display: none;
  }
}

:host ::ng-deep .header-hamburger-trigger {
  padding-left: 2.5vw;
}

:host ::ng-deep .nav-text {
  color: white;
}

.btn-profil:focus {
  outline: none;
}

.icon-class {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid white;
}
