<span #top class="scroll-margin-top">
  <span><a routerLink="/users">Utilisateur</a></span> /
  <span>Ajout</span>
</span>
<section>
  <!-- <app-alert [success]="success" [echec]="echec" [msgSuccess]="msgAlert" [msgEchec]="erreurMsg"
    (closed)="close()"></app-alert> -->

  <h3>Ajouter Utilisateur</h3>
  <form clrForm [formGroup]="registerForm">
    <clr-input-container>
      <label>Nom *</label>
      <input clrInput type="text" formControlName="firstName" />
      <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label>Prénom *</label>
      <input clrInput type="text"formControlName="lastName"/>
      <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label>Email *</label>
      <input clrInput type="text" class="form-control" formControlName="email"
        email />
        <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
      <clr-control-error *clrIfError="'email'">Adresse mail non valide </clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label>Téléphone *</label>
      <input clrInput type="text" name="phone" formControlName="phone" />
      <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
    </clr-input-container>
    <clr-password-container>
      <label>Mot de passe *</label>
      <input clrPassword type="Password"  formControlName="password"
        minlength="4" />
      <clr-control-helper>minimum 4 caractères</clr-control-helper>
      <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
    </clr-password-container>

    <clr-password-container>
      <label>Confirmer Mot de passe *</label>
      <input clrPassword type="password" formControlName="repassword" minlength="4" />
      <clr-control-helper>minimum 4 caractères</clr-control-helper>
      <clr-control-error *clrIfError="'required'">Ce champ est obligatoire </clr-control-error>
      <clr-control-error *ngIf="registerForm.controls['repassword']?.errors?.['mustMatch']">
        Mots de passe ne sont pas identiques
      </clr-control-error>
    </clr-password-container>
    <clr-input-container>
      <label>Adresse</label>
      <input type="text" clrInput formControlName="address"/>
    </clr-input-container>
    <clr-input-container>
      <label>Code Postal</label>
      <input type="text" clrInput formControlName="zipCode" />
      <clr-control-error *clrIfError="'maxlength'">Taper 5 caractères au maximum </clr-control-error>
    </clr-input-container>
    <br>
    <clr-checkbox-container>
      <label>Actif / Non actif</label>
      <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox formControlName="active" />
      </clr-checkbox-wrapper>
    </clr-checkbox-container><br><br>
  </form>
  <label class="alert-sm">* Champ obligatoire</label>
  <br><br>
  <div class="btn-group btn-outline-primary">
    <button class="btn btn-sm" (mousedown)="redirectTo()">
      <cds-icon shape="undo"></cds-icon> Retour
    </button>
    <button class="btn btn-sm" (click)="submitAction(top)" [disabled]="registerForm.invalid"
      [clrLoading]="validateBtnState">
      <cds-icon shape="plus"></cds-icon> Enregistrer
    </button>
  </div>
</section>
