/* Appliquer un espacement uniforme entre les lignes de tableau */
.table td, .table th {
    padding: 10px; /* Espacement uniforme entre les cellules */
    vertical-align: middle; /* Centrer verticalement les éléments */
}

/* Appliquer un espacement uniforme aux champs de saisie */
.input-full-text {
    margin-bottom: 10px; /* Espace sous chaque champ de saisie */
}

/* Pour les labels des champs */
label {
    margin-bottom: 5px; /* Espacement sous les labels */
    font-weight: bold; /* Mettre en valeur les labels */
}

/* Appliquer un espacement uniforme à chaque ligne du tableau */
.table th {
    background-color: #f8f9fa; /* Couleur d'arrière-plan pour les en-têtes */
    text-align: center; /* Centrer les en-têtes */
}

/* Espacement autour du formulaire et des éléments */
form clr-form {
    margin-bottom: 20px; /* Espacement sous le formulaire */
}

.clr-control-container {
  display: flex;
  align-items: baseline;
}
.mg-r-20 {
  margin-right : 20px !important;
}

.card-img {
width: 150px !important;
}
img {
padding: 10px;
}
.delete-icon {
border: none;
}

.d-flex {
display: flex;
}

.flex-wrap {
flex-wrap: wrap;
}


.pb-20 {
padding-bottom: 20px;
}
.card-img>img {
  height: 130px;
  width: auto;
  margin: auto;
}
