<span>
    <span><a routerLink="/brands">Marques</a></span> /
    <span>Details</span>
  </span>
  <br>
  <section>
    <h3>Détails de marques</h3>
    <div class="spinner-class" *ngIf="!brandId">
      <clr-spinner [clrMedium]="true"></clr-spinner>
    </div>
    <form clrForm *ngIf="brandId">
      <clr-input-container>
        <label>Id </label>
        <input clrInput type="text" value="{{brand.id}}" readonly *ngIf="brand.id" />
        <label *ngIf="!brand.id"><span class="label label-warning">Non disponible!</span></label>
      </clr-input-container>
      <clr-input-container>
        <label>Nom </label>
        <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="brand.name" name="name"
          *ngIf="brand.name" />
        <label *ngIf="!brand.name"><span class="label label-warning">Non disponible!</span></label>
      </clr-input-container>

      <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea [(ngModel)]="brand.description" name="description" required *ngIf="brand.description" ></textarea>
        <label *ngIf="!brand.description"><span class="label label-warning">Non disponible!</span></label>
      </clr-textarea-container>      
      <clr-input-container>
        <label>Actif / Non actif</label>
        <label *ngIf="brand.active==true"><span class="label label-success">Actif</span></label>
        <label *ngIf="brand.active==false"><span class="label label-warning">Non actif</span></label>
      </clr-input-container>
      <clr-input-container>
        <label>Créé(e) le</label>
        <input clrInput *ngIf="brand.createdAt" value="{{ brand.createdAt | date: 'dd/MM/yyyy à HH:mm' }}" readonly />
        <label *ngIf="!brand.createdAt "><span class="label label-warning">Non disponible!</span></label>
      </clr-input-container>
      <clr-input-container>
        <label>Mis(e) à jour le</label>
        <input clrInput *ngIf="brand.updatedAt" value="{{ brand.updatedAt | date: 'dd/MM/yyyy à HH:mm' }}" readonly />
        <label *ngIf="!brand.updatedAt"><span class="label label-warning">Non disponible!</span></label>
      </clr-input-container>
      
      <clr-input-container>
        <label>Image </label>
        <label *ngIf="!brand.picture"><span class="label label-warning">Non disponible!</span></label>
      </clr-input-container>
      <div class="clr-row clr-align-items-center">
        <div class="clr-col-7 clr-col-md-4  clr-offset-sm-2 ">
          <div class="picture-brand" *ngIf="brand.picture">
            <div class="card">
              <div class="card-img container">
                <img [src]="brand.picture">
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
  <br>
      <div class="btn-group btn-sm btn-outline-primary ">
        <button class="btn" (mousedown)="redirectTo()">
          <cds-icon shape="undo"></cds-icon> Retour
        </button>
        <button class="btn" routerLink="/brands/edit-brand/{{brand.id}}" *ngIf="brand.id!=currentBrand">
          <cds-icon shape="pencil"></cds-icon> Modifier Marque
        </button>
        <button class="btn" (click)="deleteAction()" *ngIf="brand.id!=currentBrand">
          <cds-icon shape="trash"></cds-icon> Supprimer
        </button>
      </div>
    </form>
  
  </section>
  <app-delete-brand *ngIf="showAlert && brand.id" (closed)="close()" (saved)="save()" [allSelected]="[brand.id]"></app-delete-brand>
  